body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-name{
  font-size: 16px;
  padding: 6px;
}

.input-name::placeholder {
  font-weight: 300;
  color: lightgrey;
}

.input-date{
  height: 30px;
  padding: 1px;
}

.add-todo-button{
  font-size: 14px;
  padding: 6px 40px;
  background-color: green;
  color: white;
  font-size: 16px;
}

/* .showInRow{
  display: grid;
} */

.list-todo-array-div{
  display: grid;
  grid-template-columns: 200px 200px;
}
