body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputName{
  font-size: 16px;
  padding: 6px;
}

.inputName::placeholder {
  font-weight: 300;
  color: lightgrey;
}

.inputDate{
  height: 30px;
  padding: 1px;
}

.add-todo-button{
  font-size: 14px;
  padding: 6px 40px;
  background-color: green;
  color: white;
  font-size: 16px;
}
